* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

#voltar{
    min-width: 100px;
    min-height: 30px;
    border: 1px solid #ddd;
    background-color: #2a578b; 
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

body {
    background-color: #494949;
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
}

.container {
    margin: auto;
    width: 1200px;
    margin-top: 20px;
    padding: 10px;
}

nav {
    width: 300px;
    height: 735px;
    background-color: #4583eb;
    float: left;
    box-sizing: border-box;
    padding: 10px;

}

section {
    width: 870px;
    height: 735px;
    margin-left: 10px;
    float: left;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: auto;

}

ul.menu {
    list-style-type: none;
}

ul.menu li {
    width: 250px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(109, 179, 242, 1);
    color: #fff;
    margin-top: 5px;
    box-sizing: border-box;
    padding-left: 10px;
}

.btn {
    min-width: 100px;
    min-height: 30px;
    border: 1px solid #ddd;
    background-color: #2a578b;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
}

.campo {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 10px;
}


.btn-editar {
    min-width: 100px;
    min-height: 30px;
    border: 1px solid #ddd;
    background-color: #235617;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
    
}

.btn-deletar {
    min-width: 100px;
    min-height: 30px;
    border: 1px solid #ddd;
    background-color: #9b1309;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 100%;
}

article {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #d6d5d5;
    margin-bottom: 5px;
}
